**/generated/**-wagmi.ts
**/generated/blockchain.ts
**/components/shared/table/**
**/generated
.next/**
tailwind.config.js

./integrations/**/**.tsx
integrations/connext/components/form-connext-xtransfer.tsx
